<div class="row">
    <div class="col-6">
        <input type="submit" value="Edit" class="form-control btn btn-info" />
    </div>
    <div class="col-6">
        <a asp-page="Index" class="form-control btn btn-success" />Back To List</a>
    </div>
</div>